<footer class="footer">
  <small>
    The <%= link_to t(".link_name"), t(".link") %> by
    <%= link_to t(".link_name2"), t(".link2") %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".about"), about_path %></li>
      <li><%= link_to t(".contact"), contact_path %></li>
      <li><%= link_to t(".news"), t(".link_news") %></li>
    </ul>
  </nav>
</footer>
